* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px; /* Adiciona um máximo para o container */
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #3c3c3c;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex; /* Utiliza flexbox para o layout do menu */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('../img/audi.jpg') no-repeat center center/cover;
    color: ##3c3c3c;
    padding: 100px 0;
    text-align: bottom;

}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.hero p {
    margin-bottom: 170px;
    font-size: 1.2em;
}

.cta-button {
    background-color: #3c3c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.about,
.menu {
    padding: 50px 0;
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #b5b5b5;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item h3 {
    margin-bottom: 10px;
    color: #000000;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media Query para dispositivos menores, como celulares */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Altera a direção para coluna */
        align-items: center; /* Centraliza os itens verticalmente */
    }

    nav ul li {
        display: block; /* Mostra os itens do menu em bloco */
        margin: 10px 0; /* Adiciona margem entre os itens */
    }

    .menu-items .menu-item {
        width: 90%; /* Ajusta a largura para ocupar a largura total */
    }
}
