<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Quattro Performance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Quattro Performance</h1>
            <nav>
                <ul>
                    <li><a href="/" class="cta-button">Início</a></li>
                    <li><a href="/sobre" class="cta-button">Sobre</a></li>
                    <li><a href="/modelos" class="cta-button">Modelos</a></li>
                    <li><a href="/contatos" class="cta-button">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <h2>Sobre a Quattro Performance</h2>
            <p>Quattro Performance é uma referência global no segmento de carros esportivos e de alta performance. Com um compromisso incansável com a inovação e a qualidade, nos destacamos por oferecer veículos que não apenas impressionam pela velocidade e potência, mas também pela tecnologia de ponta e design excepcional.</p>
            <p>Nosso objetivo é proporcionar aos entusiastas de carros uma experiência única e emocionante ao dirigir, seja na estrada ou na pista. Desde os supercarros mais icônicos até os modelos mais recentes que definem novos padrões de desempenho, estamos dedicados a superar as expectativas de nossos clientes em cada detalhe.</p>
            <p>Além de oferecer uma seleção exclusiva de modelos de marcas renomadas, a Quattro Performance também se destaca por seu compromisso com a excelência no atendimento ao cliente e pela criação de uma comunidade apaixonada por carros de alta performance.</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Quattro Performance. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
